
.content-div {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: auto;
}

.info {
    display: grid;
    align-content: end;
    gap: 20px;
    box-shadow:0 8px 8px -8px #ddd7c0;
}

.info h2 {
    font-size: 40px;
}

.info p {
    font-size: 18px;
}

.button-container, .info {
    padding: 30px 10px 10px 60px;
}

.button-container button{
    background-color: #e9c564;
}

.button-container button:hover{
    background-color: #BFA49A;
    color: gold;
    border: none;
    outline: 1px solid gold;
}

.content-div>img {
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}