
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    color: #5E503F;
}

header {
    background-color: #FAF7F3;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h1:hover, h2:hover{
    color: goldenrod;
}

nav {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    background-color: #C8B6A6;
    color: #3E2A2A;
    border: none;
    outline: 1px solid #C8B6A6;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
}

button:hover {
    background-color: #e9c564;
    color: #5B3A33;
    border:none;
    outline: 1px solid #BFA49A;
    cursor: pointer;
}

#content {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    overflow: auto;
    padding: 30px
}

#content>div {
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: auto;
}

.info {
    display: grid;
    align-content: end;
    gap: 20px;
    box-shadow:0 8px 8px -8px #ddd7c0;
}

.info h2 {
    font-size: 40px;
}

.info p {
    font-size: 18px;
}

.button-container, .info {
    padding: 30px 10px 10px 60px;
}

.button-container button{
    background-color: #e9c564;
}

.button-container button:hover{
    background-color: #BFA49A;
    color: gold;
    border: none;
    outline: 1px solid gold;
}

#content>div>img {
    grid-row: 1/3;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}