
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    color: #5E503F;
    background-color: #F3E9DC;
}

header {
    background-color: #FAF7F3;
    display: grid;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h1:hover, h2:hover{
    color: goldenrod;
}

nav {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    background-color: #C8B6A6;
    color: #3E2A2A;
    border: none;
    outline: 1px solid #C8B6A6;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
}

button:hover {
    background-color: #e9c564;
    color: #5B3A33;
    border:none;
    outline: 1px solid #BFA49A;
    cursor: pointer;
    scale: 1.03;
}

#content {
    background-color: #F3E9DC;
    display: flex;
    justify-content: center;
    overflow: auto;
    padding: 30px;
}


footer{
    padding: 10px;
    opacity: 0.35;
    text-align: center;
}

a {
    text-decoration: none;
    color:#5F8B4C
}

a:hover {
    color: #D98324;
}

a:visited {
    color: #A5B68D
}

a:visited:hover {
    color: #D98324;
}

footer:hover {
    opacity: 1;
}